In [54]:
row=int(input('enter rows'))

for i in range(1,row+1):  
    for space in range(1,(row-i)+1):  #first space
        print(end=" ") 
    for j in range(i,2*i-1): #trianlge
        print("* ", end='') 
    for space in range(row,i,-1): #second space
        print(" ",end=" ")     
    for j in range(i,2*i-1): #trianlge
        print("* ", end='') 
 #code repate
    for space in range(row,i,-1): #second space
        print(" ",end=" ")     
    for j in range(i,2*i-1): #trianlge
        print("* ", end='') 
    print(" ")

enter rows5

   *       *       *
  * *     * *     * *
 * * *   * * *   * * *
* * * * * * * * * * * *

In [53]:
c='A'   
for i in range(5,0,-1):
    print(c*i)

AAAAA
AAAA
AAA
AA
A

In [55]:
row=int(input('enter rows'))
for i in range(1,row+1):  
    for space in range(1,(row-i)+1):  #first space
        print(end=" ") 
    for j in range(i,2*i-1): #trianlge
        print("* ", end='') 
    print(" ")

enter rows10

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [52]:
h = eval(input("please enter diamond's height:"))

for i in range(h):
    print(" "*(h-i), "*"*(i*2+1))
for i in range(h-2, -1, -1):
    print(" "*(h-i), "*"*(i*2+1))

please enter diamond's height:5
      *
     ***
    *****
   *******
  *********
   *******
    *****
     ***
      *

In [26]:
for i in range(1,6):
    for j in range(i):
        print('*',end="")
    print("\n")

*

**

***

****

*****

In [27]:
for i in range(5,0,-1):
    for j in range(i):
        print('*',end="")
    print("\n")

*****

****

***

**

*

In [28]:
for i in range(1,6):
    for j in range(i):
        print('1',end="")
    print("\n")

1

11

111

1111

11111

In [29]:
for i in range(1,6):
    for j in range(i):
        print(i,end="")
    print("\n")

1

22

333

4444

55555

In [36]:
for i in range(1,6):
    for j in range(i):
        print(j+1,end="")
    print("\n")

1

12

123

1234

12345

In [37]:
for i in range(1,6):
    for j in range(i):
        print('A',end="")
    print("\n")

A

AA

AAA

AAAA

AAAAA

In [41]:
no=65
for i in range(1,6):
    for j in range(i):
        print(chr(no),end="")
        no=no+1
    print("\n")

A

BC

DEF

GHIJ

KLMNO

In [43]:
no=76
for i in range(1,6):
    for j in range(i):
        print(chr(no),end="")
        no=no+1
    print("\n")

L

MN

OPQ

RSTU

VWXYZ

In [45]:
no=97
for i in range(1,6):
    for j in range(i):
        print(chr(no),end="")
        no=no+1
    print("\n")

a

bc

def

ghij

klmno

In [50]:
no=1
for i in range(1,6):
    for j in range(i):
        print(no,end="")
        no=no+1
    print("\n")

1

23

456

78910

1112131415